.three{
    padding: 10px 0;
    width: 1248px;
    height: 350px;
    background-color: rgb(227,227,227);
}
/* 左边设置 */
.gg_box{
    padding: 0 20px;
    float: left;
    width: 360px;
    height: 340px;
    background-color: rgb(227,227,227);
}
.biaoti{
    width: 380px;
    height: 52px;
    border-bottom:2px solid rgb(0,78,138);
}
.gonggao{
    float: left;
    width: 100px;
    height: 52px;
}
.gonggao a{
    color:rgb(18, 41, 58);
    text-align:center;
    font-size: 20px;
    text-decoration: none;
    line-height: 50px;
    display: block;
    
}
.dongtai{
    position: relative;
    float: left;
    width: 100px;
    height: 52px;
}
.dongtai a{
    color:rgb(31, 56, 75);
    text-align:center;
    font-size: 20px;
    text-decoration: none;
    line-height: 50px;
    display: block;
    
}
.gonggao:hover,.dongtai:hover{
    background-color:rgb(0,78,138) ;
}
.gonggao_neirong{
    width: 340px;
    height: 300px;
}
/* 公告内容的设置 */
.basic_box{
    margin: -280px 0px 0px -100px;
    padding: 8px 0;
    width: 340px;
    height: 50px;
}
/* 动态内容的设置 */
.basic_box1{
    margin: 1px 0px 0.1px -100px;
    padding: 4px 0;
    width: 240px;
    height: 40px;
}

.basic_box1{
    display: none;
}
.dongtai:hover .basic_box1{
    display: block;
}
.dongtai:hover .basic_box{
    display: none;
}
.basic_box1 a{
    font-size: 13px;
    text-decoration: none;
    color: rgb(0,78,138);

}
/* .basic_box1{
    display: none;
} */
.gonggao_date{
    text-decoration: rgb(0,78,138);
    font-size: 12px;
    float: left;
    width: 50px;
    height: 30px;
    background-color: rgb(199,199,199);
    margin: 10px 10px 0 10px;
    text-align: center;
    line-height: 30px;
    
}
.gonggao_bt{
    width: 270px;
    height: 45px;
    float: right;
}
.gonggao_bt a{
    line-height: 22px;
    padding: 0;
    text-decoration: none;
    font-size: 14px;
    color: #000;
}
.gonggao_bt a:hover{
    color: rgb(240, 96, 0);
}

/* 中间部分设置 */
.mediaxhu_box{
    float: left;
    width: 430px;
    height: 340px;
}
.box2{
    float: left;
    width: 400px;
    height: 320px;
    padding: 2px;
}

/* 中间标题 */
.media_top{
    float: left;
    padding: 10px 0;
    height: 50pz;
    width: 400px;
}

/* 中间内容 */
.media_content li{
    padding: 12px 0;
    list-style: none;
}
.media_content a{
    font-size: 16px;
    text-decoration: none;
    color:rgb(3,47,90);
}
/* 右边部分设置 */
.vedio_box{
    float:right;
    width: 400px;
    height: 340px;
}
.biaoti1{
    width: 380px;
    height: 52px;
    border-bottom:2px solid rgb(0,78,138);
}
.fengguang{
    float: left;
    width: 50px;
    height: 52px;
}
.fengguang a{
    color:rgb(18, 41, 58);
    text-align:center;
    font-size: 20px;
    text-decoration: none;
    line-height: 50px;
    display: block;
    
}
.shipin{
    float: left;
    width: 50px;
    height: 52px;
}
.shipin a{
    color:rgb(31, 56, 75);
    text-align:center;
    font-size: 20px;
    text-decoration: none;
    line-height: 50px;
    display: block;
    
}
.fengguang a:hover,.shipin a:hover{
    font-weight: bold;
}
.shipin_neirong{
    margin: 0 0 0 -50px;
    width: 380px;
    height: 240px;
}
.shipin_neirong img{
    padding: 20px 0;
    width: 100%;
    height: 100%;
}
.shipin_neirong{
    display:none;
}
.shipin_neirong1{
    margin: 15px 0 0 -50px;
}
.shipin:hover .shipin_neirong{
    display: block;
}
.shipin:hover .shipin_neirong1{
    display: none;
}