.xueshu{
    padding: 20px 0;
    width: 1248px;
    height: 360px;
    background-color: rgb(227,227,227);
}
/* 左边框的设置 */
.study1{
    float: left;
    width: 700px;
    height: 340px;
}
.stutop{
    height: 50px;
    width: 700px;
}
#xueshubaogao{
    font-size: 20px;
    text-decoration: none;
    color:rgb(32, 52, 114);
}
/* >>符号的设置在综合新闻里面css里， */
.stuweek{
    width: 750px;
    height: 270px;
}
.stuweek1{
    float:left;
    width: 370px;
    height: 270px;
}
.stuweek2{
    float:right;
    width: 370px;
    height: 270px;
}
.week{
    float: left;
    width: 370px;
    height: 88px;
}
.date{
    float: left;
    width: 90px;
    height: 90px;
}
.mindate{
    float: left;
    width: 80px;
    height: 80px;
}
.date1{
    float: left;
    width: 80px;
    height: 50px;
    background-color: rgb(0,86,152);
    text-align: center;
}
.date1 span{
    
    font-size: 20px;
    color: rgb(241, 237, 237);
    line-height: 50px;
}
.date2{
    background-color: white;
   text-align: center;
}
.date2 span{
    line-height: 30px;
}
/* 设置报告中的内容 */
.content{
    float: left;
    width: 230px;
    height: 60px;
    font-size: 16px;
    padding: 10px;
}

.BT{
    text-decoration: none;
    font-size: 15px;
    float: left;
    color: rgb(3,47,90);
}
.address{
    font-size: 10px;
    color:gray;
}





/* 右边框的设置 */
.study2{
    float: right;
    width: 500px;
    height: 340px;
    /* background-color: rgb(201, 201, 201); */
}
.stutop2{
    float: right;
    height: 50px;
    width: 490px;
    /* background-color: rgb(201, 201, 201); */
}
#xueshudongtai{
    left:4px;
    font-size: 20px;
    text-decoration: none;
    color:rgb(32, 52, 114);
}
.xueshucontent li{
    width: 500px;
    padding: 10px 0;
}
.xueshucontent a{
    color:rgb(45, 73, 156);
    text-decoration: none;
}